<div id="Productcard">
    <h1>Product Name: <%= val.product_name %></h1>
    <p>Product Category: <%= val.product_category %></p>
    <p>Product Price: <%= val.product_price %></p>
    <p>Product Description: <%= val.product_description.slice(0,30)+"....." %></p>
    <p>Product manufacturer: <%= val.manufacturer %></p>
    <p>Product stock_quantity: <%= val.stock_quantity %></p>
    <p>Product expiration_date: <%= val.expiration_date %></p>
    <p>Product weight: <%= val.weight %></p>
    <p>Product color: <%= val.color %></p>
    <p>Product image: <%= val.product_image_url.slice(0,20)+"......" %></p>
</div>