<tr>
    <td><%= val.student_id %></td>
    <td><%= val.first_name %></td>
    <td><%= val.last_name %></td>
    <td><%= val.age %></td>
    <td><%= val.email %></td>
    <td><%= val.major %></td>
    <td><%= val.gpa %></td>
    <td><%= val.enrollment_date %></td>
    <td><%= val.graduation_date %></td>
    <td><%= val.advisor %></td>
</tr>