<div id="Productcard">
    <h1>User : <%= val.first_name %></h1>
    <p>User ID: <%= val.user_id %></p>
    <p>User Price: <%= val.last_name %></p>
    <p>User Description: <%= val.email %></p>
    <p>User manufacturer: <%= val.gender %></p>
    <p>User stock_quantity: <%= val.birthdate %></p>
    <p>User expiration_date: <%= val.address %></p>
    <p>User weight: <%= val.city %></p>
    <p>User color: <%= val.country %></p>
    <p>User image: <%= val.phone_number %></p>
</div>